.main-screen {
    padding-top: 228px;
    padding-bottom: 162px;
    background-image: url('../../images/home/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 115%;
        text-align: center;
        letter-spacing: -0.02em;
        color: var(--cs-light);
        margin-top: 0;
        margin-bottom: 30px
    }
}

.timer {
    &__container {
        @include flex-all-center;
        gap: 15px;
    }

    &__item {
        @include flex-all-center;
        flex-direction: column;
    }

    &__numbers {
        position: relative;
        display: flex;
        font-weight: 500;
        font-size: 48px;
        line-height: 66px;
        text-align: center;
        color: var(--cs-white);
        border-radius: 50%;
        border: 6px solid var(--cs-grey);
        width: 145px;
        height: 145px;
        margin-bottom: 15px;

        span {
            position: absolute;
            @include flex-all-center;
            width: 100%;
            height: 100%;
        }

        svg {
            position: absolute;
            width: 150px;
            height: 150px;
            transform: rotate(270deg);
            top: calc(50% - 75px);
            left: calc(50% - 75px);

            circle {
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke: transparent;
                stroke-width: 4px;
                transform: translate(5px, 5px);
            }
        }

        svg:nth-child(2) circle {
            stroke-dasharray: 440;
        }

        svg:nth-child(2) circle#dd {
            stroke: #EE9B4F;
        }
        svg:nth-child(2) circle#hh {
            stroke: #E9E9E9;
        }
        svg:nth-child(2) circle#mm {
            stroke: #EE6C4F;
        }
        svg:nth-child(2) circle#ss {
            stroke: #4B4E59;
        }

    }

    &__description {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--cs-white);
    }
}

.main-info {
    padding-bottom: 120px;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: var(--cs-light);
        border-bottom: 1px solid var(--cs-grey);
        padding-top: 19px;
        padding-bottom: 19px;
        padding-left: 40px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__block {
        background: var(--cs-dark);
        border: 1px solid var(--cs-grey);
        border-radius: 4px;
    }

    .today {
        &__container {
            display: flex;
            align-items: center;
            padding-top: 85px;
            padding-bottom: 85px;
            padding-right: 40px;
            gap: 40px;
        }

        &__info {
            max-width: 277px;
            width: 100%;
        }

        &__grafic {
            max-width: 373px;
        }

        &__price {
            font-weight: 700;
            font-size: 40px;
            line-height: 115%;
            letter-spacing: -0.04em;
            padding-left: 40px;
            margin-bottom: 40px;

            .today__price-currency {
                color: var(--cs-main);
            }

            .today__price-value {
                color: var(--cs-white);
            }
        }

        &__stats-info {
            @include flex-v-center;
            padding-left: 40px;
        }

        &__stats-info--border {
            padding-bottom: 24px;
            margin-bottom: 12px;
            border-bottom: 1px solid var(--cs-grey);
        }

        &__stats-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: var(--cs-light);
            margin-right: 18px;
        }

        &__stats {
            @include flex-v-center;

            .stats-icon {
                width: 36px;
                height: 36px;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid var(--cs-white);
                border-radius: 4px;
                @include flex-all-center;
                margin-right: 8px;
            }

            .stats-rate {
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                color: var(--cs-white);
            }
        }

        &__stats.increase {
            .stats-icon {
                background: rgba(92, 190, 121, 0.1);
                border: 1px solid #5CBE79;
                
                .icon {
                    color: #5CBE79;
                }
            }
            .stats-rate {
                color: #5CBE79;
            }
        }

        &__stats.decrease {
            .stats-icon {
                background: rgba(190, 92, 92, 0.1);
                border: 1px solid #be5c5c;

                .icon {
                    transform: rotate(180deg);
                    color: #be5c5c;
                }
            }
            .stats-rate {
                color: #be5c5c;
            }
        }

        .stats-range {
            gap: 30px;

            &__value {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-light);
            }
        }

        .stats-date {
            &__value {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-grey-text);
            }
        }
    }
}

.recent {
    &__container {
        margin-top: 37px;
        margin-bottom: 41px;
        margin-left: 40px;
        margin-right: 28px;
    }

    .purchases {
        position: relative;
        z-index: 11;
        
        &__titles {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr;
    
            .purchases__title:first-child {
                grid-column: 2;
            }
    
            .purchases__title {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: var(--cs-grey-text);
            }
        }
    
        &__list {
            margin-top: 15px;
            max-height: 360px;
            overflow-y: auto;
    
            &-item {
                display: grid;
                grid-template-columns: 3fr 1fr 1fr 1fr;
                padding: 12px 20px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
    
                .code {
                    color: var(--cs-main);
    
                    .number {
                        margin-right: 5px;
                    }
                }
            }
    
            &-item:nth-child(odd) {
                background-color: rgba(233, 233, 233, 0.03);
            }
        }
    }
}

.section {
    &__title {
        @include title;
    }
}

.about {
    position: relative;
    background-image: url('../../images/home/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    .section__title {
        margin-bottom: 56px;
    }
    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 170px;
    }

    &__image {
        max-width: 640px;

        .img {
            border-radius: 4px;
        }
    }

    &__content {
        position: relative;
        z-index: 11;
        max-width: 620px;

        &-image {
            max-width: 190px;

            .img {
                border-radius: 4px;
            }
        }

        &-box {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            .subtitle {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                color: var(--cs-light);
                max-width: 380px;
            }
        }

        .text {
            font-weight: 400;
            font-size: 14px;
            line-height: 180%;
            margin-top: 0;
            margin-bottom: 0;
            max-width: 565px;
            color: var(--cs-light);
        }

        .text.text--mtb {
            margin-top: 18px;
            margin-bottom: 18px;
        }

        .text.text-hidden {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .text-accent {
            font-weight: 400;
            font-size: 14px;
            line-height: 180%;
            color: var(--cs-main);
            display: block;
        }

        .btn-group {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 75px;

            .btn-readmore {
                @include btn-transparent;
            }
            .link-goto {
                @include btn-link;
                position: relative;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    display: block;
                    width: 8px;
                    height: 2px;
                    background-color: var(--cs-white);
                    transition: all ease-in-out .4s;
                }
                &::after {
                    transform: translate(3px, -50%) rotate(45deg);
                    right: 14px;
                    top: calc(50% - 3px);
                }
                &::before {
                    transform: translate(-3px, -50%) rotate(-45deg);
                    top: calc(50% - -1px);
                    right: 8px;
                }
                &:hover {
                    border-color: transparent;

                    &::before,
                    &::after {
                        background-color: var(--cs-main);
                    }
                }
            }
        }
        .btn-group.remove-margin {
            margin-top: 20px;
        }
    }
}

.tables {
    .section__title {
        margin-bottom: 30px;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 150px;
    }
    .recent {
        &__container {
            margin: 0;
        }
    }
}

.slider {
    position: relative;
    z-index: 11;

    &__controls {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;

        .rating__btns {
            position: static;
            color: var(--cs-white);
            width: 30px;
            height: 30px;
            border: 1px solid #444751;
            border-radius: 50%;

            &::after {
                font-size: 8px;
            }
        }
    }
    
    &__container {
        padding-left: max(213px, (calc(100% - 1480px) / 2));
        margin-top: 30px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background: linear-gradient(-270deg, rgba(6, 6, 6, 0.1) 0%, var(--cs-grey) 70%);
            width: 120px;
            height: 100%;
            right: 0;
            top: 0;
            z-index: 1;
            box-shadow: 0 0 110px var(--cs-grey);
        }
    }

    .item {
        background: rgba(233, 233, 233, 0.03);
        border-radius: 4px;
        max-width: 355px;
        padding: 30px 20px;

        &__header {
            display: flex;
            justify-content: space-between;

            &-title {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-grey-text);
            }

            &-number {
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                color: var(--cs-grey);
                background: var(--cs-main);
                width: 54px;
                height: 54px;
                border-radius: 50%;
                @include flex-all-center;
            }
        }

        &__code {
            display: block;
            margin-top: 36px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: var(--cs-main);
            border-bottom: 1px solid #1B1C21;
            word-break: break-all;
        }

        &__info {
            &-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
            &-block:not(:last-child) {
                margin-bottom: 15px;
            }
            &-title {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-grey-text)
            }
            &-value {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                text-align: right;
                color: var(--cs-light);
            }
        }
    }
}