<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a class="logo-link" href="/">
				<img class="logo-link__img" src="../images/icon/logo.svg" alt="Логотип: Sunflower-допомагаємо сьогодні">
			</a>
			<div class="header__right-box">
				<nav class="nav">
					<ul>
						<li>
							<a href="#">
								Home
							</a>
						</li>
						<li>
							<a href="#">
								About us
							</a>
						</li>
						<li>
							<a href="#">
								Program Rules
							</a>
						</li>
					</ul>
				</nav>
				<div class="auth">

				</div>
				<div class="lang">
					<div class="lang__block">
						<div class="lang__active">Укр<span class="lang__arrow-tr"></span></div>
					</div>
				</div>                  
			</div>
			<!-- <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
				<img class="img" src="../images/icon/burger.svg" alt="иконка бургера">
			</button>    -->
			<!-- <div class="mobile-menu" data-menu>
				<div class="mobile-menu__container">
					<div class="mobile-menu__top">
						<a class="logo-link" href="/">
							<img class="logo-link__img" src="../images/icon/logo.svg" alt="Логотип: Sunflower-допомагаємо сьогодні">
						</a>
						<div class="lang">
							<div class="lang__block">
								<div class="lang__active">Укр<span class="lang__arrow-tr"></span></div>
							</div>
						</div>    
					</div>
					<nav class="nav">
						<ul>
							<li>
								<a href="#">
									Home
								</a>
							</li>
							<li>
								<a href="#">
									About us
								</a>
							</li>
							<li>
								<a href="#">
									Program Rules
								</a>
							</li>
						</ul>
					</nav>
					<div class="socials">
						<a href="" class="socials__link inst" target="_blank">

						</a>
						<a href="" class="socials__link tg" target="_blank">

						</a>
						<a href="" class="socials__link fb" target="_blank">
					
						</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</header>