<main class="main">
    <section class="section main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <h1 class="title main-screen__title">
                    Before the start of the project:
                </h1>
                <div class="timer">
                    <div class="timer__container">
                        <div class="timer__item">
                            <div class="timer__numbers">
                                <div class="dots d_dot"></div>
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="dd"></circle>
                                </svg>
                                <span id="days">08</span>
                            </div>
                            <div class="timer__description">Days</div>
                        </div>
                        <div class="timer__item">
                            <div class="timer__numbers">
                                <div class="dots h_dot"></div>
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="hh"></circle>
                                </svg>
                                <span id="hours">18</span>
                            </div>
                            <div class="timer__description">Hours</div>
                        </div>
                        <div class="timer__item">
                            <div class="timer__numbers">
                                <div class="dots m_dot"></div>
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="mm"></circle>
                                </svg>
                                <span id="minutes">33</span>
                            </div>
                            <div class="timer__description">Minutes</div>
                        </div>
                        <div class="timer__item">
                            <div class="timer__numbers">
                                <div class="dots s_dot"></div>
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="ss"></circle>
                                </svg>
                                <span id="seconds">44</span>
                            </div>
                            <div class="timer__description">Seconds</div>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>