@include big-desktop {
    .about {
        &__container {
            gap: 70px;
        }
    }
}

@include small-desktop {
    .main-info {
        &__container {
            grid-template-columns: 1fr;
        }

        .today {
            &__container {
                padding-right: 20px;
            }

            &__info {
                max-width: inherit;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            &__price {
                grid-column: 1;
            }

            .stats-range,
            .stats-date {
                grid-column: 2;
            }
        }
    }
    .about {
        &__container {
            gap: 20px;
        }

        &__content {
            &-image {
                min-width: 190px;
            }
        }
    }
    .section {
        &__title {
            margin-bottom: 30px;
        }
    }
}

@include middle-tablet {
    .main-screen {
        &__title {
            font-size: 44px;
        }
    }
    .main-info {
        padding-bottom: 60px;
        .today {
            &__info {
                max-width: 277px;
                display: block;
            }
        }
    }
    .about {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            max-width: inherit;
            
            &-image {
                min-width: inherit;
            }

            &-box {
                .subtitle {
                    max-width: inherit;
                }
            }
            .text {
                max-width: inherit;      
            } 
            .btn-group {
                margin-top: 30px;
            }
        }
    }
    .section {
        padding: 60px 0;
    }
}

@include small-tablet {
    .main-screen {
        overflow: hidden;
        padding-top: 200px;
        padding-bottom: 100px;

        &__title {
            font-size: 34px;
            margin-bottom: 20px;
        }
    }
    .main-info {
        &__title {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .today {
            &__container {
                padding-top: 40px;
                padding-bottom: 40px;
                padding-right: 10px;
                gap: 10px;
            }

            &__price {
                margin-bottom: 20px;
                padding-left: 20px;
                font-size: 30px;
            }

            &__stats-info {
                padding-left: 20px;
            }

            &__stats-info--border {
                padding-bottom: 12px;
                margin-bottom: 10px;
            }

            &__stats-title {
                font-size: 16px;
                line-height: 22px;
                margin-right: 10px;
            }
        }
    }
    .recent {
        &__container {
            margin: 20px;
        }

        .purchases {
            &__list {
                &-item {
                    padding: 10px;
                }
            }
        }
    }
    .about {
        &__content {
            
            &-image {
                min-width: 190px;
            }
        }
    }
}

@include mobile {
    .main-screen {
        padding-top: 100px;

        &__title {
            font-size: 22px;
        }
    }

    .timer {
        &__container {
            gap: 5px;
            flex-direction: column;
        }

        &__item {
            gap: 10px;
            align-items: flex-start;
            flex-direction: row;
            position: relative;
        }

        &__numbers {
            margin-bottom: 0;
        }

        &__description {
            position: absolute;
            bottom: 25px;
        }
    }
    .main-info {
        .today {
            &__container {
                padding-top: 20px;
                padding-bottom: 20px;
                flex-direction: column;
                align-items: flex-start;
            }
            &__grafic {
                align-self: center;
            }
        }
    }
    .recent {
        .purchases {
            &__titles {        
                .purchases__title {
                    font-size: 14px;
                    line-height: 18px;
                }
            }

            &__list {
                &-item {
                    padding: 8px;
                    font-size: 10px;

                    .code {
                        font-size: 6px;

                        .number {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    .about {
        &__content {
            
            &-image {
                min-width: 190px;
            }

            &-box {
                gap: 10px;
                flex-direction: column-reverse;

                .subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .text {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .main-info {
        padding-bottom: 30px;
    }
    .section {
        padding: 30px 0;

        &__title {
            margin-bottom: 15px;
            font-size: 24px;
        }
    }
}

@include mobile {
    .recent {
        &__container {
            margin: 10px;
        }
        .purchases {
            &__titles {        
                .purchases__title {
                    font-size: 12px;
                }
            }

            &__list {
                &-item {
                    padding: 8px 2px;
                    font-size: 8px;

                    .code {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}